body{
    background-color: rgb(146, 184, 218);
}

h1, h2 {
    text-align: center;
}

ul.nav {
    list-style: none;
    text-align: center;
    position: relative;
}

li.nav {
    display: inline-block;
    margin-right: 10px;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .flexbox {
    width: 500px;
    margin-right: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }

  footer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    margin-left: 450px;
  }

  #attractions {
    display: flex;
    justify-content: center;
    text-align: center;
  
  }

  a:hover {
    background-color: yellowgreen;
  }

  img {
    width: 200px;
    height: 300px;
    float: right;
  }

  td {
    margin-left: 20px;
  }

  th{
    margin-left: 20px;
  }

  table {
    position: relative;
  }
